body{background-color:#ffff99; color:black}
a{text-decoration:none}
a:link{color:green}
a:visited{color:brown}
a:hover{color:blue}
/*a:active{color:blue}*/
a.term{color:green; text-decoration:none}
a.term:visited{color:green}
a.term:hover{background-color:yellow}/*text-transform:uppercase}/*; font-size:1.1em}*/
a.term:link{}/*letter-spacing:.5em}*/
a.button{display:block; width:70px; height:65px; background-image:url(../img/buttonup.gif)}
a.button:active{background-image:url(../img/button.gif)}
/*img{display:block; float:left; margin:10pt; vertical-align:top}*/
p{font-family:serif; margin-top:0; margin-bottom:.4em; text-align:justify; text-indent:5%}
.container{border-width:1; border-color:green; border-style:solid}
dl{margin:2%}
dt{color:green; font-size:larger}
dd{text-align:justify}
h1{font-family:serif;text-align:center}
