body {	
background-color: #203476;
color: #9ec1d1;
font-family: Gautang Lucida Arial sans-serif;
position: relative;
}
				
div.section {
margin-left: 2em;
width: 80%;
margin-right: -4000px;
}

div#naming {
width: 100%;
margin-right: -4000px;
}

div#logo {
position: relative;
left: 50px;
top: 220px;
margin-left: -200px;
float: right;
}
												
h1 {
font-size: 32px;
font-weight: bold;
color: #eda64d;
}
												
h2 {
font-size: 28px;
font-weight: bold;
color: #eda64d;
}

h3 {
font-size: 22px;
font-weight: normal;
color: #eda64d;
}

p {
font-size: 14px;
font-weight: normal;
}

p.arcane {
color: #9ec1d1;
margin-left: 40px;
font-size: 14px;
font-family: Georgia serif;
font-style: italic;
text-align: right;
}

p.plainstart:first-letter {
font-weight: normal;
font-size: 14px;
color: #9ec1d1;
letter-spacing: 0px;
}

code:first-letter {
font-weight: normal;
font-size: 104px;
color: #9ec1d1;
letter-spacing: 0px;
}

li:first-letter {
font-weight: bold;
letter-spacing: 3px;
font-size: 18px;
color: #9ec1d1;
font-family: Georgia serif;
inherit: none;
}

li li:first-letter {
font-weight: normal;
font-size: 14px;
color: #9ec1d1;
letter-spacing: 0px;
}

h2:first-letter {
font-weight: bold;
letter-spacing: 3px;
font-size: 36px;
font-family: Georgia serif;
inherit: none;
}

h3:first-letter {
font-weight: bold;
letter-spacing: 3px;
font-size: 28px;
font-family: Georgia serif;
inherit: none;
}

p:first-letter {
font-weight: bold;
letter-spacing: 3px;
font-size: 18px;
color: #9ec1d1;
font-family: Georgia serif;
inherit: none;
}

a:hover.menu {
background-color: #4c414c;
}

ol {
margin: 2em;
padding: 0px;
}

li {
padding: 3px;
}

a:link {
color: #33ffff;li:first-letter {
font-weight: bold;
letter-spacing: 3px;
font-size: 18px;
color: #9ec1d1;
font-family: Georgia serif;
inherit: none;
}

}

a:visited {
color: #ff00ff;
}

span.bigword {
font-size: 14px;
font-weight: bold;
color: #ff7040;
font-family: Monotype Corsiva;
}

a.home {
text-decoration:none;
}
